.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f7f7f7;
  color: #000000;
  padding: 5px;
  text-align: center;
  border-top: 2px solid #000;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}