.footer {
  position: fixed; /* Fixa o rodapé */
  bottom: 0; /* Alinha o rodapé no fundo da página */
  width: 100%; /* Garante que o rodapé ocupe toda a largura da tela */
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}