.App {
  text-align: center;
}

.search-bar {
  margin-bottom: 20px;
}

.map-container {
  width: 100%; /* Utiliza toda a largura disponível */
  height: 300px; /* Reduz a altura do mapa */
  margin-bottom: 100px; /* Espaço entre o mapa e os cards */
}

.place-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.place-card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}

.place-card img {
  width: 100%;
  border-radius: 5px;
}

.place-details {
  margin-top: 10px;
}

.place-details h2 {
  margin: 0;
  font-size: 16px;
}

.place-details p {
  margin: 5px 0;
  font-size: 14px;
}
