body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* Branco levemente acinzentado */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 20px auto; /* Adiciona espaçamento na parte superior e inferior */
  padding: 20px;
  background-color: #fff; /* Branco */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.header {
  background-color: #673ab7; /* Roxo escuro */
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555; /* Cinza */
}

.form-group input {
  width: calc(100% - 22px); /* Ajuste para compensar o padding */
  padding: 10px;
  border: 1px solid #ddd; /* Cinza claro */
  border-radius: 4px;
  border-right: 1px solid #ddd; /* Correção da borda direita */
  background-color: #f9f9f9; /* Branco levemente acinzentado */
  color: #555; /* Cinza */
}

.btn-submit {
  background-color: #ffeb3b; /* Amarelo */
  color: #111; /* Texto escuro para contraste */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}

.btn-submit:hover {
  background-color: #ffea00; /* Amarelo mais escuro */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #f9f9f9; /* Branco levemente acinzentado */
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
}

li:nth-child(even) {
  background-color: #f5f5f5; /* Branco mais acinzentado */
}

li strong {
  color: #ff9800; /* Laranja */
}